*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 
    Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: aliceblue;
}
header{
    padding: 30px;
    border-bottom: 1px dashed black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.language{
    text-align: right;
}
.language ul{
    list-style-type: none;
    display: inline-flex;
}
li{
    padding: 0 10px;
    cursor: pointer;
}
.active{
    background-color: red;
    color:bisque;
}